<a href="/signout">Logout</a>
<a href="/ideas">Ideas Dashboard</a>
<h2>Name: <%= @user.first_name %> <%= @user.last_name%></h2>
<h2>Alias: <%= @user.alias %></h2>
<h2>Email: <%= @user.email %></h2>

<h4>Total Number of Ideas: <%= @ideas %></h4>
<h4>Total Number of Likes: <%= @likes %></h4>
